<html lang="en">
<head>
    <title>Index Page</title>
</head>
<body>
<div style="border: 10px solid powderblue; padding:10px; margin:auto; background-color:powderblue;">
<form action="save" method="post">
    <table>
        <tr>
            <td><label for="person-name">Person Name</label></td>
            <td><input type="text" name="name" id="person-name"></input></td>
        </tr>
        <tr>
            <td><label for="age">Person Age</label></td>
            <td><input type="text" name="age" id="age"></input></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Submit"></input></td>
        </tr>
    </table>
</form>
    </div>
</body>
</html>